<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ヲタク日和</title>
</head>
<body>
  <div class="main"><%#個々の情報の大枠%>
  <div class="event-info">
  <div class="event-title"><%#イベント名%>
  </div>
  <div class="event-schedule"><%#イベント日時%>
  </div>
  <div class="event-detail"><%#イベント詳細%>
  </div>
  </div>
  </div>
</body>
</html>